In [38]:
import pandas as pd

df = pd.read_csv("IRIS_Training.csv", sep=";")
df

    sepal_length  sepal_width  petal_length  petal_width          species
0            4.9          3.0           1.4          0.2      Iris-setosa
1            4.7          3.2           1.3          0.2      Iris-setosa
2            4.6          3.1           1.5          0.2      Iris-setosa
3            5.0          3.6           1.4          0.2      Iris-setosa
4            5.4          3.9           1.7          0.4      Iris-setosa
..           ...          ...           ...          ...              ...
85           6.7          3.1           4.7          1.5  Iris-versicolor
86           6.3          2.3           4.4          1.3  Iris-versicolor
87           5.6          3.0           4.1          1.3  Iris-versicolor
88           5.5          2.5           4.0          1.3  Iris-versicolor
89           5.5          2.6           4.4          1.2  Iris-versicolor

[90 rows x 5 columns]

In [39]:
X_train = df[df.columns[:-1]]
X_train

    sepal_length  sepal_width  petal_length  petal_width
0            4.9          3.0           1.4          0.2
1            4.7          3.2           1.3          0.2
2            4.6          3.1           1.5          0.2
3            5.0          3.6           1.4          0.2
4            5.4          3.9           1.7          0.4
..           ...          ...           ...          ...
85           6.7          3.1           4.7          1.5
86           6.3          2.3           4.4          1.3
87           5.6          3.0           4.1          1.3
88           5.5          2.5           4.0          1.3
89           5.5          2.6           4.4          1.2

[90 rows x 4 columns]

In [52]:
number_features = len(X_train.columns)  
number_samples = len(X_train)
number_samples

90

In [51]:
number_features

4

In [40]:
outcome = df[df.columns[-1]]
outcome

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
           ...
85    Iris-versicolor
86    Iris-versicolor
87    Iris-versicolor
88    Iris-versicolor
89    Iris-versicolor
Name: species, Length: 90, dtype: object

In [41]:
Y_train = outcome == "Iris-setosa"
Y_train = Y_train.astype("int")

0     1
1     1
2     1
3     1
4     1
     ..
85    0
86    0
87    0
88    0
89    0
Name: species, Length: 90, dtype: int32

In [42]:
Y_train[Y_train==0] = -1
Y_train

0     1
1     1
2     1
3     1
4     1
     ..
85   -1
86   -1
87   -1
88   -1
89   -1
Name: species, Length: 90, dtype: int32

In [43]:
number_features = len(df.columns) - 1  # We don't take the species column
number_samples = len(df)
number_samples

90

In [44]:
number_features

4